// .apps-and-games.scss

.apps-and-games {
  background-color: $orange;
  margin: 0;
  padding: 0;
  color: $white;
  img {
    margin-top: 3.5em;
  }
  .apps-container {
    width: 40em;
    margin: 0 10em;
    padding-bottom: 3em;
  }
  h3 {
    display: inline;
    padding-right: 0.625em;
  }
  h3 img {
    float: none;
    margin: 0;
    padding-left: 0.325em;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}
