// .apps-and-games.scss

.apps-and-games {
  background-color: $orange;
  background-repeat: no-repeat;
  color: $white;
  .apps-container {
    width: 40em;
    margin: 0 auto;
  }
  h2 {
    padding: 2em 0 0 0;
  }
}
