// .cortana-header.scss

.cortana-header {
  background: black;
  margin: 0;
  padding: 0;
  img {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    font-weight: normal;
    color: $blue;
    padding: 0.625em;
  }
  h3 img {
    padding-left: 0.625em;
  }
}
