// .cortana-video.scss

.cortana-video {
  @include clearfix;
  position: relative;
  background: $blue-light;
  color: $white;
  width: 100%;
  margin: 0;
  padding: 0;
  img {
    float: left;
    margin: 0;
    padding: 0;
  }
  .cortana-video-text {
    margin: 0;
    padding: 0.625em;
  }
  h3 img {
    float: none;
    padding-left: 0.625em;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}
