// .footer-utility-navigation.scss

.footer-utility-navigation {
  font-size: 0.8em;
  ul {
    @include clearfix;
    list-style-type: none;
    margin: 0.625em 0;
    padding: 0;
    li {
      float: left;
      margin-right: 0.8em;
      padding: 0 0.25em 0 0;
    }
    a {
      text-decoration: none;
      color: $gray;
      padding-right: 0.8em;
      border-right: 1px solid $gray;
      &:hover {
        color: $black;
      }
    }
  }
}
