// .personal-smartphone-video.scss

.personal-smartphone-video {
  @include clearfix;
  background: url('../images/HP-Windows-Phone-Most-Personal-Smartphone_InvariantCulture_Default.jpg') no-repeat;
  color: $white;
  width: 100%;
  margin: 0;
  padding: 0;
  .container {
    position: relative;
  }
  #play-button {
    position: absolute;
    top: 9.75em;
    left: 27em;
  }
  p {
    font-weight: bold;
  }
  .smartphone-video-text {
    margin: 0.625em;
    padding: 0.625em 0.625em 3em 0.625em;
    width: 23em;
    float: right;
  }
  h3 img {
    float: none;
    padding-left: 0.325em;
  }
  a {
    text-decoration: none;
    color: $white;
  }
}
