// .pre-footer-module.scss

.pre-footer {
  @include clearfix;
  margin: 0;
  padding: 0;
  .pre-footer-module {
    width: 25%;
    float: left;
    margin: 0.625em 0 2em 0;
    padding: 0.625em;
    img {
      width: 100%;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 0.9em;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-size: 1em;
    }
    h5 a, a {
      text-decoration: none;
      font-weight: normal;
      color: $gray-light;
      &:hover {
        color: $purple-light;
      }
    }
  }
}
