// variables.scss

// Typeface


// Colors

$white: #fff;
$black: #333;
$gray: #505050;
$gray-light: #888888;
$gray-lighter: #f1f1f1;;
$blue: #1ba1e2;
$blue-light: #00bcf2;
$blue-medium: #0ea1e2;
$purple: #68207a;
$purple-light: #9b4f96;
$orange: #fa6800;
